
<h1>- About Me -</h1>
<h4> - Jonathan Cameron -</h4>
<p>I am a growing programmer and animator. I have always loved computers, and keep pushing my knowledge and skills further. I have choosen software engineer as a path for my career because I want to be creating, as well as changing software. My other talents include being a decent guitar player, voice impersenator, texas hold'em player, and a Flash animator.</p>