<h1>Banana Apps</h1>
<!--Find me in app/views/pages/home.html.erb-->
<h2>Jonny - V2.47</h2>
	<p>Welcome to my site. I have really known that to be truly free, I need a place where I can do whatever I want. This is that place.</p>
	<p>Caution - Enter at your own risk!</p>
	<p>Click <a href="http://jacameron.com", <button type="button" class="btn btn-primary">here</button></a>.</p>
	<p>Link <%= link_to "here", "#", class: "btn btn-primary" %>.</p>

