<h1>Jonathan's Web Application</h1>
<!--Find me in app/views/pages/home.html.erb-->
<h2>Welcome!</h2>
<p>This is my web app playing field</p>
<p>Caution - Enter at your own risk!</p>
<p>Click <a href="http://jacameron.com">here</a>.</p>
<p>Link <%= link_to "here", "#" %>.</p>

