<h1>- Music -</h1>
<p>I'm a fan of the emotional sides that come from music. I have learned to play guitar on my own since 2007. It's not only fun to do, but theraputic. I have performed at open mics, and have been interested in getting in a band in the future. Not looking to become famous, but playing good music is a blast.</p>